a{
    text-decoration: none;
    transition-duration: 0.5s;

}
a:hover{
    color: rgb(221, 149, 14);
}
li{
    list-style: none;
}
header{
    height: 100px;
    display: flex;
    color: white;
    font-size: large;
    background-color: rgba(13, 13, 108, 0.77);
    justify-content: space-between;
    align-items: center;
}
header p{
    width: 500px;
    padding-left: 20px;

    
}

ul.contacts{
    display: flex;
    gap: 20px;
    flex-direction: row;
    list-style: none;
    padding-right: 20px;


}

/*nav*/

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}
div.navigate{
    width: 50%;
}
ul.main{
    width: 100%;
    display: flex;
    gap: 70px;
    flex-direction: row;
    position: relative;

    
    

}
ul.poslugy{
    position: absolute;
    top: calc(100% + 5px);
    left: 20%;
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: normal;
    visibility: hidden;
    /*transition-duration: 1s;*/
    transform: translateY(-10px);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0);
    opacity: 0;
    transition: visibility 0s linear 1s, opacity 1s ease, transform 1s ease, box-shadow 1s ease;
}
.focus:hover ~ ul.poslugy,
ul.poslugy:hover{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    border-radius: 8px;
    transition-delay: 0s;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);

}
